/.phpunit.cache
/bootstrap/ssr
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/tmp/*
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.php-cs-fixer.cache
.pnpm-store
phpstan-baseline.neon
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
