includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon

parameters:
  level: 5

  paths:
    - app
    - config
    - routes
    - resources

  bootstrapFiles:
    - vendor/autoload.php

  tmpDir: storage/tmp/phpstan

  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false

  excludePaths:
    - database/*
    - storage/*
    - resources/*
    - tests/*
    - bootstrap/cache/*
    - vendor/*
    - node_modules/*

  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Support\\Collection::.*#'
    - '#Call to an undefined static method App\\Models\\User::where\(\)#'
    - '#@var PHPDoc tag.*could be replaced by native type hint#'
